In [2]:
pip install groq psycopg2-binary python-dotenv

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: groq in c:\users\varsh\appdata\roaming\python\python311\site-packages (1.0.0)
Requirement already satisfied: psycopg2-binary in c:\users\varsh\appdata\roaming\python\python311\site-packages (2.9.11)
Requirement already satisfied: python-dotenv in c:\users\varsh\appdata\roaming\python\python311\site-packages (1.2.1)
Requirement already satisfied: anyio<5,>=3.5.0 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from groq) (4.11.0)
Requirement already satisfied: distro<2,>=1.7.0 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from groq) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from groq) (0.28.1)
Requirement already satisfied: pydantic<3,>=1.9.0 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from groq) (2.12.4)
Requirement already satisfied: sniffio in c:\users\varsh\appdata\roaming\python\python311\site-packages (from groq) (1.3.1)
Requirement already satisfied: typing-extensions<5,>=4.10 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from groq) (4.15.0)
Requirement already satisfied: idna>=2.8 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from anyio<5,>=3.5.0->groq) (3.10)
Requirement already satisfied: certifi in c:\users\varsh\appdata\roaming\python\python311\site-packages (from httpx<1,>=0.23.0->groq) (2025.1.31)
Requirement already satisfied: httpcore==1.* in c:\users\varsh\appdata\roaming\python\python311\site-packages (from httpx<1,>=0.23.0->groq) (1.0.9)
Requirement already satisfied: h11>=0.16 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from httpcore==1.*->httpx<1,>=0.23.0->groq) (0.16.0)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from pydantic<3,>=1.9.0->groq) (0.7.0)
Requirement already satisfied: pydantic-core==2.41.5 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from pydantic<3,>=1.9.0->groq) (2.41.5)
Requirement already satisfied: typing-inspection>=0.4.2 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from pydantic<3,>=1.9.0->groq) (0.4.2)
Note: you may need to restart the kernel to use updated packages.

In [4]:
# API key 
from dotenv import load_dotenv
import os

load_dotenv("env.txt")

print("Loaded key:", os.getenv("GROQ_API_KEY"))

Loaded key: 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

In [13]:
# 

from dotenv import load_dotenv
import os
from groq import Groq

load_dotenv("env.txt")  # or ".env"

assert os.getenv("GROQ_API_KEY") is not None, "API key not loaded"

client = Groq(api_key=os.getenv("GROQ_API_KEY"))
print("Groq client ready")

Groq client ready

In [7]:
!pip install psycopg2-binary sqlalchemy pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: psycopg2-binary in c:\users\varsh\appdata\roaming\python\python311\site-packages (2.9.11)
Collecting sqlalchemy
  Downloading sqlalchemy-2.0.45-cp311-cp311-win_amd64.whl.metadata (9.8 kB)
Requirement already satisfied: pandas in c:\users\varsh\appdata\roaming\python\python311\site-packages (2.2.3)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.3.0-cp311-cp311-win_amd64.whl.metadata (4.2 kB)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\varsh\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading sqlalchemy-2.0.45-cp311-cp311-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---- ----------------------------------- 0.3/2.1 MB ? eta -:--:--
   --------- ------------------------------ 0.5/2.1 MB 1.3 MB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.1 MB 1.2 MB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.1 MB 1.2 MB/s eta 0:00:02
   -------------- ------------------------- 0.8/2.1 MB 1.2 MB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 751.1 kB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 751.1 kB/s eta 0:00:02
   ------------------- -------------------- 1.0/2.1 MB 751.1 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 621.6 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 621.6 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 621.6 kB/s eta 0:00:02
   ------------------------ --------------- 1.3/2.1 MB 621.6 kB/s eta 0:00:02
   ----------------------------- ---------- 1.6/2.1 MB 534.3 kB/s eta 0:00:02
   ----------------------------- ---------- 1.6/2.1 MB 534.3 kB/s eta 0:00:02
   ----------------------------- ---------- 1.6/2.1 MB 534.3 kB/s eta 0:00:02
   ---------------------------------- ----- 1.8/2.1 MB 486.4 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 486.4 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 486.4 kB/s eta 0:00:01
   ---------------------------------- ----- 1.8/2.1 MB 486.4 kB/s eta 0:00:01
   ---------------------------------------  2.1/2.1 MB 467.9 kB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 458.3 kB/s  0:00:05
Downloading greenlet-3.3.0-cp311-cp311-win_amd64.whl (301 kB)
Installing collected packages: greenlet, sqlalchemy

   ---------------------------------------- 0/2 [greenlet]
   ---------------------------------------- 0/2 [greenlet]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   -------------------- ------------------- 1/2 [sqlalchemy]
   ---------------------------------------- 2/2 [sqlalchemy]

Successfully installed greenlet-3.3.0 sqlalchemy-2.0.45

In [5]:
# Establishing connection between Jupyter notebbok and PostgreSQL

from sqlalchemy import create_engine
from sqlalchemy.engine import URL
import pandas as pd

url = URL.create(
    drivername="postgresql+psycopg2",
    username="postgres",
    password="Qwerty@123",
    host="localhost",
    port=5432,
    database="nl2sql_SuperStore"
)

engine = create_engine(url)

In [6]:
pd.read_sql("SELECT 1;", engine)

   ?column?
0         1

In [7]:
# Verify tables
pd.read_sql("""   
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';
""", engine)

             table_name
0            superstore
1              customer
2               product
3                orders
4  superstore_analytics

In [8]:
pd.read_sql("""
SELECT category, SUM(sales) AS total_sales
FROM superstore_analytics
GROUP BY category;
""", engine)

          category  total_sales
0        Furniture    741999.98
1  Office Supplies    719046.99
2       Technology    836154.10

In [20]:
SCHEMA_PROMPT = """
You are an expert PostgreSQL data analyst.

Database schema:

customers(
    customer_id PRIMARY KEY,
    customer_name,
    segment,
    country,
    city,
    state,
    region
)

products(
    product_id PRIMARY KEY,
    category,
    sub_category,
    product_name
)

orders(
    order_id,
    order_date,
    ship_date,
    customer_id FOREIGN KEY REFERENCES customers(customer_id),
    product_id FOREIGN KEY REFERENCES products(product_id),
    sales,
    quantity,
    discount,
    profit
)

Rules:
- Use only these tables
- Use proper JOINs
- Do not explain SQL
- Return only SQL
"""

In [15]:
#  NL â†’ SQL Function
def nl_to_sql(user_question):
    response = client.chat.completions.create(
        model="llama-3.1-8b-instant",
        temperature=0,
        messages=[
            {"role": "system", "content": SCHEMA_PROMPT},
            {"role": "user", "content": user_question}
        ]
    )
    return response.choices[0].message.content.strip()

In [16]:
question = "Total sales by category"
sql_query = nl_to_sql(question)
print(sql_query)

SELECT category, SUM(sales) as total_sales FROM superstore GROUP BY category;

In [17]:
# 
import pandas as pd

df = pd.read_sql(sql_query, engine)
df

          category  total_sales
0        Furniture    741999.98
1  Office Supplies    719046.99
2       Technology    836154.10

In [18]:
# LLMs can fail sometimes. Add this protection now
def run_nl2sql(question):
    try:
        sql = nl_to_sql(question)
        print("Generated SQL:\n", sql)
        return pd.read_sql(sql, engine)
    except Exception as e:
        print("Error executing SQL:", e)

In [19]:
 # Test this
run_nl2sql("Average profit by region")

Generated SQL:
 SELECT region, AVG(profit) AS avg_profit FROM superstore GROUP BY region;

    region  avg_profit
0    South   28.857846
1     West   33.849138
2     East   32.135829
3  Central   17.092746

In [21]:
question = "Total sales by category"
sql_query = nl_to_sql(question)

print(sql_query)

```sql
SELECT
    p.category,
    SUM(o.sales) AS total_sales
FROM
    orders o
JOIN
    products p ON o.product_id = p.product_id
GROUP BY
    p.category
ORDER BY
    total_sales DESC;
```